section{
    width: 1100px;
    height: 2700px;
    font-family: DM Sans;
    background-color: black;
    color: white;
    margin: 0 auto;
}
.container{
    display: flex;
}
.container img{
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
}
ul li{
    list-style: none;
}
.nav{
    display: flex;
}
.nav1{
    display: flex;
    padding-top: 50px;
    padding-left: 100px;
    gap: 40px;
    font-size: 20px;
    color: #A7A7A7;
}
.container ul li{
    display: flex;
}
.nav2{
    display: flex;
    padding-top: 54px;
    padding-left: 90px;
    gap: 15px;
    font-size: 20px;
}
.container2{
    display: flex;
}
.container2 .image-1{
    width: 400px;
    padding-top: 150px;
    padding-left: 110px;
}
.container2 .image-2{
    width: 300px;
    padding-top: 80px;
    padding-left: 180px;
}
.container3{
    padding-top: 80px;
    text-align: center;
    font-size: 25px;
}
.container3 h1{
    color: #CCCCCC ;
}
.container3 p{
    color: #A7A7A7;
}
img{
    padding-top: 50px;
    justify-content: center;
    padding-left: 60px;
}
.container3 .image1{
    display: flex;
}
.size1 img{
    width: 80px;
    height: 80px;
}
.size2 img{
    padding-top: 80px;
    width: 80px;
    height: 80px;
}
.container4{
    padding-top: 80px;
    text-align: center;
    font-size: 25px;
}
.container4 h1{
    color: #CCCCCC ;
}
.container4 p{
    color: #A7A7A7;
}
.projectImage{
    display: flex;
}
.projectImage123 img{
    width: 260px;
    height: 200px;
    padding-left: 80px;
}
.item{
    width: 260px;
    height: 260px;
    background-color: #363636;
    margin-left: 80px;
    margin-top: -45px;
    padding-top: 15px;
    border-radius: 0 0 10px 10px;
}
.item h5{
    color: #CCCCCC;
}
.item p{
    font-size: 15px;
    text-align: start;
    padding-left: 22px;
    padding-right: 20px;
    margin-top: -20px;
    color: #CCCCCC;
}
.item .tech{
    padding-top: 20px;
    font-size: 10px;
    color: #CCCCCC;
}
.projectImage123{
    justify-content: start;
}
.item i{
    font-size: 10px;
    color: #FCFCFC;
}
.lasticon{
    display: flex;
}
.lasticon2{
    display: flex;
}
.lasticon1{
    display: flex;
}
.lasticon i{
    padding-top: 10px;
    padding-left: 25px;
}
.lasticon2 i{
    padding-top: 10px;
    padding-left: 25px;
    font-size: 13px;
}
.font1 p{
    padding-top: 33px;
    margin-left: -15px;
    font-size: 12px;
    text-decoration: underline;
}
.font2 p{
    padding-top: 33px;
    margin-left: -15px;
    font-size: 12px;
    text-decoration: underline;
}
.container5{
    display: flex;
    padding-top: 80px;
    text-align: start;
    padding-left: 30px;
}
.container5 img{
    color: #FFFFFF;
    padding-bottom: 70px;
}
.contact{
    display: flex;
    text-align: end;
    padding-top: 60px;
    padding-left: 320px;
    color: #A7A7A7;
}
.contact .mail{
    padding-left: 50px;
    color: #A7A7A7;
}
.container5 .nav2{
    padding-top: 55px;
}
.border{
    width: 910px;
    height: 1px;
    text-align: center;
    margin-left: 88px;
    background-color: #42446E;
}
.container6{
    display: flex;
    text-align: start;
    padding-left: 30px;
}
.footer{
    padding-top: 50px;
    padding-left: 60px;
    display: flex;
    gap: 25px;
    color: #A7A7A7;
}
.container6 p{
    padding-top: 50px;
    padding-left: 120px;
    color: #A7A7A7;
}
.container6 span{
    color: #13B0F5;
}


